<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LoggerPath" value="logs\\app_log.txt" />

    <add key="AsteriskCoefficient" value="0" />
    <add key="AsteriskProbability" value="5" />

    <add key="SymbolACoefficient" value="0.4" />
    <add key="SymbolAProbability" value="45" />

    <add key="SymbolBCoefficient" value="0.6" />
    <add key="SymbolBProbability" value="35" />

    <add key="SymbolPCoefficient" value="0.8" />
    <add key="SymbolPProbability" value="15" />

    <add key="TableRows" value="4" />
    <add key="TableColumns" value="3" />
  </appSettings>
</configuration>